
<p>
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>ContentManagement-System</span>
      <span class="example-spacer"></span>
      <a routerLink="../home"><button mat-icon-button class="example-icon home-icon" aria-label="Example icon-button with home icon">
        Register
      </button></a>
      <a routerLink="../home"><button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>login</mat-icon>
      </button></a>
      
    </mat-toolbar>
  </p>